/// Color system
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$backgroundPrimary: rgb(95, 161, 95);
///color 
///padding 
$padding_1: 1rem;
$padding_2: 1.5rem;
$padding_3: 2rem;
$padding_4: 2.5rem;
///margin
$margin_1: 1rem;
$margin_2: 1.5rem;
$margin_3: 2rem;
$margin_4: 2.5rem;


///margin 

$titleColor:1rem;
$subTitleColor:1rem;
$textColor:0;
$linkColor:0;
$fontSizeTitle:0;
///tamanho dos subtitulos
$fontSizeSubtitle_1: 1rem;
$fontSizeSubtitle_2: 1.5rem;
$fontSizeSubtitle_3: 1.8rem;
$fontSizeSubtitle_4: 3rem;
///tamanho da fonte texto
$fontSizeText_1: .7rem;
$fontSizeText_2: .9rem;
$fontSizeText_3: .1.1rem;
$fontSizeText_4: 1.3rem;